@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
/*? Navigation Section*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0px;
  background-color: rgb(255, 255, 255);
}
nav img {
  width: 300px;
  height: 70px;
}
nav ul {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 3vh;
  color: black;
}
nav ul li a:hover {
  border-bottom: 2px solid red;
}
.fa-cart-plus {
  color: rgb(255, 0, 0);
}
.fa-cart-plus:hover {
  border-bottom: 0px;
}
/*? 2.Offer Section*/
.offer-section {
  display: flex;
  padding: 0px 100px;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 219, 136),
    rgb(253, 177, 36)
  );
  gap: 20px;
}
.offer-section img {
  height: 600px;
  width: 650px;
}
.offer-section-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  line-height: 1;
}
.offer-section-text h1 {
  font-size: 8vh;
  font-family: "Rubik Bubbles", cursive;
  color: rgb(19, 140, 240);
}
.offer-section-text p {
  font-size: 3vh;
}
.offer-section-btn {
  align-self: flex-start;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: 0px;
  border-radius: 20px;
  font-size: 4vh;
  transition: 0.3s ease-in-out;
}
.offer-section-btn:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1.1);
  background-color: green;
}
/*? 3.Product Section*/
.product-section {
  padding: 10px 50px;
}
/*? 3.1. Product images*/
.product-img {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
}
.product-img img {
  width: 250px;
  height: 300px;
  border-radius: 20px;
}
/*? 3.2 Feature Product*/
/*! the feature-product section in used in 3.2 feature section and 3.3 latest product */
/** The below changes will be applied to section 3.2 and 3.3*/

.feature-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.feature-product h2 {
  font-size: 5vh;
  border-bottom: 1px solid red;
}
.feature-product-container {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
/*! the feature-product-content used in 3.2 Featured Section and 3.3 Latest product Section */
/*? The changes will applied both sections*/
.feature-product-content {
  text-align: center;
}
.feature-product-content img {
  transform: 0.5s ease-in-out;
  margin-bottom: 10px;
  width: 220px;
  height: 300px;
}
.feature-product-content img:hover {
  transform: scale(1.1);
  transform: 0.3s ease-in-out;
}
.feature-product-content p {
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
}
.fa-star {
  color: orange;
}
/*! 3.3 Latest Product*/
.latest-product {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
/*? 4.Exclusive Offer*/
.exclusive-offer {
  display: flex;
  gap: 100px;
  padding: 60px 150px;
  margin-top: 50px;
  background-image: linear-gradient(
    rgb(204, 0, 255),
    rgb(222, 97, 253),
    rgb(235, 157, 255)
  );
}
.exclusive-offer img {
  height: 400px;
  width: 400px;
  transition: 0.3s ease-in-out;
}
.exclusive-offer img:hover {
  transform: rotate(40deg);
  transition: 0.3s ease-in-out;
}
.exclusive-offer-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
}
.exclusive-offer-text h1 {
  font-size: 8vh;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.exclusive-offer-text p {
  font-size: 3vh;
}
.exclusive-offer-btn {
  font-size: 3vh;
  padding: 8px 10px;
  align-self: flex-start;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  transform: 0.3s ease-in-out;
  display: flex;
  gap: 4px;
  font-size: bold;
}
.exclusive-offer-btn:hover {
  background-color: green;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}
.fa-arrow-right {
  font-size: 4vh;
  color: rgb(255, 255, 255);
}
/*? 5.Testimonial*/
.testimonial {
  display: flex;
  padding: 20px 150px;
  margin: 20px;
  gap: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  align-items: center;
  gap: 10px;
}
.fa-quote-left {
  color: orange;
  font-size: 7vh;
}
.testimonial-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*? 6. Sponsors */
.sponsors {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 5px;
  padding: 5px 120px;
  justify-content: center;
}
.sponsors img {
  filter: grayscale(100%);
  width: 150px;
}
.sponsors img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}
/* ? 7.Footer Section*/
footer {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  display: flex;
  gap: 60px;
  justify-content: center;
}
.footer-rights img {
  width: 190px;
  height: 70px;
  filter: invert(100%);
}
footer h2 {
  font-size: 3.5vh;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 15px;
}
.download-links img {
  width: 150px;
  height: 50px;
}
.download-links,
.footer-rights,
.footer-useful-links,
.footer-follow-us {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.footer-useful-links a {
  text-decoration: none;
  color: white;
}
.footer-follow-us {
  gap: 11px;
}
.fa-facebook {
  color: rgb(32, 32, 237);
}
.fa-twitter {
  color: rgb(13, 237, 237);
}
.fa-instagram {
  color: rgb(247, 13, 247);
}
.fa-youtube {
  color: red;
}
.fa-reddit {
  color: orange;
}
