@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
/*? Navigation Section*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}
nav img {
  width: 140px;
  height: 60px;
}
nav ul {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 3vh;
}
nav ul li a:hover {
  border-bottom: 2px solid red;
}
.fa-cart-plus {
  color: orange;
}
/*? 2.Offer Section*/
.offer-section {
  display: flex;
  padding: 0px 100px;
  background-image: linear-gradient(
    rgb(255, 183, 48),
    rgb(253, 253, 253),
    rgb(241, 168, 32)
  );
  gap: 20px;
}
.offer-section img {
  height: 600px;
  width: 650px;
}
.offer-section-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  line-height: 1;
}
.offer-section-text h1 {
  font-size: 8vh;
  font-family: "Rubik Bubbles", cursive;
  color: rgb(19, 140, 240);
}
.offer-section-text p {
  font-size: 3vh;
}
.offer-section-btn {
  align-self: flex-start;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: 0px;
  border-radius: 20px;
  font-size: 4vh;
  transition: 0.3s ease-in-out;
}
.offer-section-btn:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1.1);
  background-color: green;
}
/*? 3.Product Section*/
.product-section {
  padding: 10px 200px;
}
/*? 3.1. Product images*/
.product-img {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.product-img img {
  width: 300px;
  height: 350px;
  border-radius: 20px;
}
/*? 3.2 Feature Product*/
/*! the feature-product section in used in 3.2 feature section and 3.3 latest product */
/** The below changes will be applied to section 3.2 and 3.3*/

.feature-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.feature-product h2 {
  font-size: 5vh;
  border-bottom: 1px solid red;
}
.feature-product-container {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
/*! the feature-product-content used in 3.2 Featured Section and 3.3 Latest product Section */
/*? The changes will applied both sections*/
.feature-product-content {
  text-align: center;
}
.feature-product-content img {
  transform: 0.5s ease-in-out;
  margin-bottom: 10px;
}
.feature-product-content img:hover {
  transform: scale(1.1);
  transform: 0.3s ease-in-out;
}
.feature-product-content p {
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
}
.fa-star {
  color: orange;
}
/*! 3.3 Latest Product*/
.latest-product {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
